  .portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-title-color;
    background: #f5f4fa;
    padding: 6px 22px;
  
    height: 38px;
    border-radius: 4px;
    border-color: #f5f4fa;

    @include transition($tp: background color);

    
    // transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    // color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
      color: #ffffff;
      background: $accent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    

    &-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-basis: 74px;
    }

    &-item:not(:last-child) {
        margin-right: 8px;
      }


  }
  
