@mixin transition($tp: all, $td: 250ms, $ttf: cubic-bezier(0.4, 0, 0.2, 1), $tdel: 0ms) {
    transition-property: $tp;
    transition-duration: $td;
    transition-timing-function: $ttf;
    transition-delay: $tdel;
    }
    
    