%button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    background: $accent-color;
    color: #ffffff;
  
    min-width: 200px;
    height: 50px;
    border-radius: 4px;
    border-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

%title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-title-color;

    margin-bottom: 50px;
  }

%subtitle {
    font-family: $main-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}



    