.skills {
  padding-bottom: 94px;

  &-title {
    @extend %title;
  }

  &-subtitle {
    @extend %subtitle;
    text-align: center;
   
    color: #ffffff;
  }

  &-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(47, 48, 58, 0.8);
  }
  &-list {
    display: flex;
    justify-content: space-between;

    &-item {
      position: relative;
    }
  }
}
